In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import torchvision
import torchvision.datasets as datasets
import torchvision.transforms as transforms

In [2]:
csvPath = './PokemonDataCSV/'
csvName = 'pokedex_(Update_05.20).csv'
pokedex = pd.read_csv(csvPath+csvName)
pokedex = pokedex.drop(['Unnamed: 0'], axis=1)
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028 entries, 0 to 1027
Data columns (total 50 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokedex_number    1028 non-null   int64
 1   name              1028 non-null   object
 2   german_name       938 non-null    object
 3   japanese_name     938 non-null    object
 4   generation        1028 non-null   int64
 5   status            1028 non-null   object
 6   species           1028 non-null   object
 7   type_number       1028 non-null   int64
 8   type_1            1028 non-null   object
 9   type_2            542 non-null    object
 10  height_m          1028 non-null   float64
 11  weight_kg         1027 non-null   float64
 12  abilities_number  1028 non-null   int64
 13  ability_1         1025 non-null   object
 14  ability_2         513 non-null    object
 15  ability_hidden    810 non-null    object
 16  total_points      1028 non-null   float64
 17  hp                1028 non-null   float64
 18  attack            1028 non-null   float64
 19  defense           1028 non-null   float64
 20  sp_attack         1028 non-null   float64
 21  sp_defense        1028 non-null   float64
 22  speed             1028 non-null   float64
 23  catch_rate        924 non-null    float64
 24  base_friendship   924 non-null    float64
 25  base_experience   924 non-null    float64
 26  growth_rate       1027 non-null   object
 27  egg_type_number   1028 non-null   int64
 28  egg_type_1        1025 non-null   object
 29  egg_type_2        282 non-null    object
 30  percentage_male   792 non-null    float64
 31  egg_cycles        1027 non-null   float64
 32  against_normal    1028 non-null   float64
 33  against_fire      1028 non-null   float64
 34  against_water     1028 non-null   float64
 35  against_electric  1028 non-null   float64
 36  against_grass     1028 non-null   float64
 37  against_ice       1028 non-null   float64
 38  against_fight     1028 non-null   float64
 39  against_poison    1028 non-null   float64
 40  against_ground    1028 non-null   float64
 41  against_flying    1028 non-null   float64
 42  against_psychic   1028 non-null   float64
 43  against_bug       1028 non-null   float64
 44  against_rock      1028 non-null   float64
 45  against_ghost     1028 non-null   float64
 46  against_dragon    1028 non-null   float64
 47  against_dark      1028 non-null   float64
 48  against_steel     1028 non-null   float64
 49  against_fairy     1028 non-null   float64
dtypes: float64(32), int64(5), object(13)
memory usage: 401.7+ KB

In [3]:
#使用するデータのみで表を作る
pokedex = pokedex[ ['pokedex_number', 'name', 'japanese_name', 'type_number', 'type_1', 'type_2',
                   'egg_type_number', 'egg_type_1', 'egg_type_2'] ]
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028 entries, 0 to 1027
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pokedex_number   1028 non-null   int64
 1   name             1028 non-null   object
 2   japanese_name    938 non-null    object
 3   type_number      1028 non-null   int64
 4   type_1           1028 non-null   object
 5   type_2           542 non-null    object
 6   egg_type_number  1028 non-null   int64
 7   egg_type_1       1025 non-null   object
 8   egg_type_2       282 non-null    object
dtypes: int64(3), object(6)
memory usage: 72.4+ KB

In [4]:
# 最初の5件を取得
pokedex.head()

,pokedex_number,name,japanese_name,type_number,type_1,type_2,egg_type_number,egg_type_1,egg_type_2
0,1,Bulbasaur,フシギダネ (Fushigidane),2,Grass,Poison,2,Grass,Monster
1,2,Ivysaur,フシギソウ (Fushigisou),2,Grass,Poison,2,Grass,Monster
2,3,Venusaur,フシギバナ (Fushigibana),2,Grass,Poison,2,Grass,Monster
3,3,Mega Venusaur,フシギバナ (Fushigibana),2,Grass,Poison,2,Grass,Monster
4,4,Charmander,ヒトカゲ (Hitokage),1,Fire,NaN,2,Dragon,Monster

In [5]:
import os
from os import listdir
# 画像ファイルの読み込み
imageDir = "./dataset/"
fltr_list = [filename for filename in listdir(imageDir) if not filename.startswith('.')]
fileNameLists = []
fileNumberLists = []
for filename in fltr_list:
    fileNameLists.append(filename)
    fileNumber = filename.split('.')[0]
#     if fileNumber == '':
#         continue
    fileNumber = int(fileNumber)
    fileNumberLists.append(fileNumber)

pokedex2 = pd.DataFrame( [fileNumberLists, fileNameLists], index=['pokedex_number', 'image_name'] )
pokedex2 = pokedex2.T

In [6]:
pokedex2

    pokedex_number image_name
0              348    348.png
1              412    412.png
2              374    374.png
3              360    360.png
4              406    406.png
..             ...        ...
888            379    379.png
889            423    423.png
890            345    345.png
891            351    351.png
892            437    437.png

[893 rows x 2 columns]

In [7]:
pokedex3 = pd.merge(pokedex, pokedex2, on='pokedex_number', how='inner' )

In [8]:
pokedex3

,pokedex_number,name,japanese_name,type_number,type_1,type_2,egg_type_number,egg_type_1,egg_type_2,image_name
0,1,Bulbasaur,フシギダネ (Fushigidane),2,Grass,Poison,2,Grass,Monster,001.png
1,2,Ivysaur,フシギソウ (Fushigisou),2,Grass,Poison,2,Grass,Monster,002.png
2,3,Venusaur,フシギバナ (Fushigibana),2,Grass,Poison,2,Grass,Monster,003.png
3,3,Mega Venusaur,フシギバナ (Fushigibana),2,Grass,Poison,2,Grass,Monster,003.png
4,4,Charmander,ヒトカゲ (Hitokage),1,Fire,NaN,2,Dragon,Monster,004.png
...,...,...,...,...,...,...,...,...,...,...
1023,888,Zacian Hero of Many Battles,NaN,1,Fairy,NaN,1,Undiscovered,NaN,888.png
1024,889,Zamazenta Crowned Shield,NaN,2,Fighting,Steel,1,Undiscovered,NaN,889.png
1025,889,Zamazenta Hero of Many Battles,NaN,1,Fighting,NaN,1,Undiscovered,NaN,889.png
1026,890,Eternatus,NaN,2,Poison,Dragon,1,Undiscovered,NaN,890.png
1027,890,Eternatus Eternamax,NaN,2,Poison,Dragon,1,Undiscovered,NaN,890.png